input,
select {
    height: 30px;
    font-size: 1em;
    padding: 5px;
    margin: 0 4% 10px 4%;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 92%;
    background-color: #f5f5f5;
}

input[type="submit"] {
    background-color: #F44336;
    margin-top: 10px;
    height: 40px;
    border: none;
    color: #f5f5f5;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #E91E63;
}

a {
    text-decoration: none;
    color: #F44336;
}

a:hover {
    text-decoration: underline;
    color: #E91E63;
}

table {
    margin: 2%;
    width: 96%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table td {
    text-align: center;
    height: 30px;
    padding: 3px;
    font-size: 0.9em;
}

table th {
    background-color: #009688;
    height: 30px;
    color: #FFF;
    padding: 3px;
    font-size: 0.9em;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: rgba(123, 198, 191, 0.3);
}

table tr:nth-child(odd) {
    background-color: rgba(0, 150, 136, 0.4);
}

.page-header {
    background: linear-gradient(#8764ac, #9f82bd, #8764ac);
    color: #fff;
    margin: 0px;
    padding-top: 10px;
}

.page-header h5 {
    margin: 0px;
    text-align: center;
}

.summary {
    margin: 5px;
    text-align: center;
}

.summary .label {
    padding: .5em;
    margin: 3px;
    font-size: 120%;
    line-height: 1.5;
    display: inline-block;
    width: 47%;
    max-width: 200px;
}

.summary .title {
    color: #ddd;
    font-size: 80%;
    text-transform: uppercase;
    display: grid;
}

.entry {
    margin: 5px;
    text-align: center;
}

.entry button {
    width: 47%;
    max-width: 200px;
    margin: 3px;
}

.txns {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.accounts {
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
    width: 40%;
    display: inline-block;
}